  h1{
	text-align: right;
	margin-right: 335px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin-top: -300px;
	letter-spacing: 2px;
	}
	
	hr{margin-right: 200px}
	
	p{
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-size: 13px;
		margin-left: 640px;
		margin-right: 203px;
		text-align: justify;
		line-height: 145%;
	}
	footer {
		margin-left: 640px;
		margin-right: 203px;	
		
	}
	
	img{
		max-width: 100%;
	}
